@page
@model HillerødSejlklub.Pages.Events.TilføjBegivenhedModel
@{
}

<form method="post">
    <div class="mb-3">
        <label asp-for="@Model.Begivenhed.Name" class="form-label">Navn</label>
        <input asp-for="@Model.Begivenhed.Name" class="form-control" />
        <span asp-validation-for="@Model.Begivenhed.Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Begivenhed.Dato" class="form-label">Dato og Tid</label>
        <input asp-for="@Model.Begivenhed.Dato" class="form-control" type="datetime-local" />
        <span asp-validation-for="@Model.Begivenhed.Dato" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Begivenhed.Lokation" class="form-label">Lokation</label>
        <input asp-for="@Model.Begivenhed.Lokation" class="form-control" />
        <span asp-validation-for="@Model.Begivenhed.Lokation" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Opret</button>
</form>
