@page
@model HillerødSejlklub.Pages.Blog.TilføjBlogModel
@{
}

<div class="container mt-5">
    <h1 class="mb-4">Tilføj Blog</h1>
    <form method="post">
        <div class="mb-3">
            <label asp-for="@Model.Blog.BlogTitle" class="form-label"></label>
            <input asp-for="@Model.Blog.BlogTitle" class="form-control" />
            <span asp-validation-for="@Model.Blog.BlogTitle" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Blog.BlogAuthor" class="form-label"></label>
            <input asp-for="@Model.Blog.BlogAuthor" class="form-control" />
            <span asp-validation-for="@Model.Blog.BlogAuthor" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Blog.BlogContent" class="form-label"></label>
            <textarea asp-for="@Model.Blog.BlogContent" class="form-control" rows="10"></textarea>
            <span asp-validation-for="@Model.Blog.BlogContent" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> Opret
        </button>
    </form>
</div>