@page
@model HillerødSejlklub.Pages.Både.Maintenance.AddMaintenanceModel
@{
}

<div class="container mt-5">
    <h1 class="mb-4">Tilføj vedligeholdelse til @Model.Båd.BoatName</h1>
    <form method="post">
        <input type="hidden" name="bådNavn" value="@Model.Båd.BoatName" />

        <div class="mb-3">
            <label asp-for="@Model.Maintenance.Status" class="form-label">Status</label>
            <select asp-for="@Model.Maintenance.Status" class="form-select">
                <option value="Afventer">Venter med at blive arbejdet på</option>
                <option value="Igang">Bliver arbejdet på</option>
                <option value="Færdig">Er færdigt</option>
            </select>
            <span asp-validation-for="@Model.Maintenance.Status" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Maintenance.Description" class="form-label">Beskrivelse</label>
            <input asp-for="@Model.Maintenance.Description" class="form-control" />
            <span asp-validation-for="@Model.Maintenance.Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> Opret
        </button>
    </form>
</div>